/* Stili di base */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Layout generale */
#container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

/* Canvas */
#canvas {
  width: 70%;
  height: 400px;
  border: 2px dashed #ccc;
  position: relative;
  background-color: #f9f9f9;
}

/* Info box */
#info {
  width: 30%;
  padding: 15px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Galleria */
#gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-top: 1px solid #ddd;
  background-color: #eee;
}

/* Immagini della galleria */
#gallery img {
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: transform 0.2s;
}

#gallery img:hover {
  transform: scale(1.1);
}

/* Immagini aggiunte al canvas */
.draggable {
  position: absolute;
  cursor: move;
  user-select: none;
  max-width: 150px;
}



/* Altri stili */

.message {
  display: flex;
  justify-content: center;
}

p {
  font-size: .7rem;
}

.navbar{
  background: #f8f8f8;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo > img {
  max-width: 10rem;
}

button {
  border: none; 
  cursor: pointer;
  background: #6DB757;
  color: white; 
  padding: 1em;
}
